/*  your css code here. If applicable */
#heading {
	text-align:center;
	background-color: #ffffff;
}
body {
	background-color: #f8f8f8    ;
	
}
.book-library {
	width:100%;
	margin:10px 0px 10px 0px;
	height:90%;
	border: 1px solid #915151;
	border-radius:5px;
    background-color: #777777;
	text-align:center;
	box-shadow: 0px 0px 10px #ffffff;
}
.book {
    margin: 10px 20px 10px 20px;
    height:25%;
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
}
.book img{
    margin-left: auto;
    margin-right: auto;
    width:15%;
    display:block;
    padding:10px;
}
#btn{
    background-color: rgb(46, 204, 113);
    text-align:center;
    height:25px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border-radius: 5px;
    padding:20px 0px 20px 0px;
    width:98%;
    margin-bottom:10px;
    font-size: 20px;
    font-weight: bold;
}

.book h2{
    padding-left:12px;
}
.book p{
    padding-left:12px;
}